html, body, .min-h-screen, .flex {
  margin: 0 !important;
  padding: 0 !important;
  /* width: 100vw !important; */
  box-sizing: border-box;
}

main.flex-1 {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-width: 0;
}

.app-admin-sidebar {
  min-height: 100vh;
} 

td{
    text-align: center;
  }